.container {
    width: 98vw;
    height: 95vh;
    font: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.botao {
    width: 160px;
    background: silver;
    padding: 10px;
    border-radius: 8px;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: skyblue;
}